* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.831);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 50px;
}

#action-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile {
  display: flex;
  gap: 16px;
}

#profiles_container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  /* align-items: center; */
}

#username {
  text-align: center;
}

.container {
  height: 140px;
  width: 310px;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 3px 2px rgba(44, 43, 43, 0.719);
  border-radius: 8px;
  content: normal;
  align-items: center;
  gap: 10px;
}

#search_button{
  height: 30px;
  width: 90px;
}

#search_input{
  height: 30px;
  width: 250px;
  padding: 9px;
}